

body{
        background-image: url(bg.jpg);
         width:90%;
         margin: 0 auto;}
         /*image source: http://asunder.deviantart.com/art/New-Grunge-Textures-FREEBIE-143428607*/
h1{
  color:white;
  text-align: center;
  font-family: Rockwell;

}

#content {overflow:auto;}
#nav, #feature, #footer{
  margin: 1%;
}
.column1, .column2, .column3 {
  width: 95.3%;
  float: left;
  margin: 1%;
  color: white;
  font-size: 1vw;
  padding: 4px;
}

.column3 {margin-right: 0%;}
li{
  color:white;
  text-align: center;
  display: inline;
  padding: 0.5em;
  color: white;}

#nav, #footer {
  background-color: grey;
  opacity: 0.8;
   filter: alpha(opacity=50);
  padding: 0.5em 0;
  color:white;
  text-align: center;}

#feature, .article {
  height: 10em;
  margin-bottom: 1em;
  background-color:grey;
  opacity: 0.8;
  color:white;
  padding: 7px;
}
#all{
  width:50%;
}
img{

  float: left;
  position: absolute;
  left: 50%;
  top: 10%;


}
